.toDoItem {
  padding: 10px;
  background-color: green;
  /* background-color: rgb(48, 142, 144); */
  color: rgb(61, 56, 10);
  border-radius: 4px;
  border: 1px dashed darkblue;
}

.date,
.title,
.descr,
.priority {
  padding: 5px;
}

.title,
.descr {
  &.isDone {
    text-decoration: line-through;
  }
}

.todoBtn {
  display: block;
  width: 45%;
  padding: 6px 25px;
  margin: 0 auto;
  background-color: rgb(233, 227, 228);
  cursor: pointer;
  border: none;
  border-radius: 25%;

  &:active {
    transform: scale(0.95);
  }
}

.icon {
  width: 30px;
  height: 30px;
  fill: darkblue;
}
