html {
  font-family: sans-serif;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  padding: 1rem 0;
}

button:active {
  transform: scale(0.97);
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  width: 360px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-wrapper {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.btn-goback {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  border: none;
  background: none;
}

.btn-goback svg {
  width: 100%;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 0.6rem;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
}

.descr-wrapper,
.summ-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.date {
  font-size: 1rem;
  color: rgb(89, 86, 86);
}

.comment {
  font-size: 0.8rem;
  color: rgb(44, 43, 43);
}

.summ {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(44, 43, 43);
}

.currency {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(70, 179, 241);
}

.btn-wrapper {
  display: flex;
  gap: 0.6rem;
  margin-left: auto;
}

.btn-action {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  border: none;
  background: none;
}

.btn-action:hover {
  background-color: #00000010;
}

.btn-action svg {
  width: 100%;
  height: 100%;
  fill: rgb(89, 86, 86);
}
