.form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.btnForm {
  display: block;
  width: 50%;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  margin: 0 auto;
  border: none;
  border-radius: 0.2rem;
  background: rgb(42, 38, 38);
  color: bisque;
}
