.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  margin-top: 8px;
  padding: 16px;
  row-gap: 20px;
  border: 1px solid #8b000030;
  border-radius: 4px;

  font-size: 20px;

  & label {
    width: 100%;

    & p {
      margin-bottom: 8px;
    }
  }

  & input {
    width: 100%;
    font-size: inherit;
    padding: 8px 16px;
  }

  & button {
    width: 50%;
    align-self: center;
    font-size: 32px;
    padding: 16px 16px;
    border: 1px dashed darkred;
    border-radius: 8px;
    background: #8b000030;
  }
}
