.list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 45px;
}

.link {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: green;
  font-size: 28px;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
}

.active {
  color: yellow;
  outline: 2px solid blue;
}
